@include lg-screen-query {
    header {
        .menu {
            right: 0 !important;
            text-align: center;
            // width: 100%;

            &-item {
                padding: 1rem 0.5rem !important;
            }

        }
    }

    main {
        .grid {
            grid-template-columns: repeat(3, 1fr) !important;
        }
    }
}

@include sm-screen-query {
    header {
        .lg-heading {
            font-size: 7vw !important;
        }

        .menu {
            position: relative !important;
            bottom: 0 !important;
            right: 0 !important;
            text-align: center;

            &-item {
                display: inline-block !important;
                padding: 1rem 0.5rem !important;
            }
        }
    }

    main {
        .grid {
            grid-template-columns: repeat(3, 1fr) !important;

            .grid-item {
                height: 400px !important;

                h2 {
                    line-height: 1.15;
                    text-align: center;
                    font-size: 3vw !important;
                }
            }

        }
    }
}


@include tablett-query {
    header {
        .lg-heading {
            text-align: center;
            margin: 50px 0 20px 0 !important;
            font-size: 9vw !important;
        }

        .menu {
            position: relative !important;
            bottom: 0 !important;
            right: 0 !important;
            text-align: center;

            &-item {
                display: block !important;
                padding: 1rem 0 !important;
                font-size: 4vw !important;

            }
        }
    }

    main {
        .grid {
            grid-template-columns: repeat(2, 1fr) !important;

            .grid-item {
                height: 45vh !important;

                h2 {
                    text-align: center;
                    font-size: 3vw !important;
                    padding-bottom: 1rem !important;
                }
            }

        }
    }

    #post {
        padding: 1rem;

        #title {
            float: none !important;
            margin: 0 auto !important;
            width: 100% !important
        }

        p {
            float: none !important;
            margin: 50px 0 !important;
            width: 100% !important
        }

        #img-preview {
            margin-right: 0 !important;
            float: none !important;
            width: 100% !important
        }



        .owner {
            float: none !important;
            margin-right: 0 !important;

            &-pic {
                position: relative;
                left: 50%;
                top: 0;
                transform: translate(-50%, 0)
            }

            span {
                display: block;
                width: 100%;
                left: 0 !important;
                top: 0 !important;
                text-align: center;
                margin-top: 1rem;
            }

            #date {
                float: none !important;
                text-align: center;
                margin: 0 !important;

            }
        }

    }
}

@include mobile-query {

    main {
        .grid {
            grid-template-columns: 1fr !important;

            .grid-item {
                h2 {
                    font-size: 6vw !important;
                }
            }

        }
    }
}